* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #298A08;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58FAFA;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
    padding: 20px;
}